.container {
    width: 42rem;
    display: flex;
}

.routineContainer {
    width: 70%;
    height: 100vh;
    background-color: antiquewhite;
}

.todosContainer {
    width: 30%;
    height: 100vh;
    background-color: aqua;
}
