.container {
    width: 42rem;
    display: flex;
}

.routineContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 70%;
    height: 100vh;
    background-color: white;
}

.todosContainer {
    width: 30%;
    height: 100vh;
    background-color: beige;
}
