.container {
    width: 42rem;
    display: flex;
}

.postContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 70%;
    height: 100vh;
    background-color: white;
}
