.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lottie {
    width: 400px;
    height: 400px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.buttons button {
    width: 12rem;
    height: 3rem;
    margin: 2rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: linen;
    font-size: 1.2rem;
    box-shadow: 4px 5px 9px 4px #c4c4c4;
}
.buttons button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform ease 0.2s;
}
